{% extends "template.html"%}
{% load staticfiles %}


{% block content %}

<div class="columns">

<form method="post" action="/task/add/">
  <fieldset class="fieldset">

<div class="row">
  <div class="small-12 medium-4 columns">
    <lable>&nbsp;
    <input type=submit value="اضافه کردن" class="button expanded">
  </label>
  </div>

  <div class="small-12 medium-8 columns">
    {% csrf_token %}
    <label>چه کاری در پیشه؟
    <input type="text" name=tasktext placeholder="کوچیک، مشخص و قابل اجرا...">
    </label>
  </div>
  <input type="hidden" name="save" value="true"  />
</fieldset>

</form>
</div>

<h5>کارهای پیش رو</h5>
<div class="griddo">
{% for task in tasks %}
     <div class="grid-item">
       {{ task.text }}
       <div class="linkdone">
         <a class="success button" href="/task/{{ task.id }}/done/"><span class="fontawesome-ok"></span></a>
       </div>

     </div>
{% endfor %}
</div>

<br /><br />

<h5>کارهای انجام شده</h5>
<div class="griddone">
{% for task in tasksDone %}
         <div class="grid-item taskdone">
           {{ task.text }}
           <div class="linkdone">
             <a class="tiny success button alert" href="/task/{{ task.id }}/redo/"><span class="fontawesome-undo"></span></a>
           </div>
        </div>
{% endfor %}
</div>

</div>

<script >
var elem = document.querySelector('.griddo');
var msnry = new Masonry( elem, {
  itemSelector: '.grid-item',
  columnWidth: 40,
  gutter: 5,
  originLeft: false,
});

var elem = document.querySelector('.griddone');
var msnry = new Masonry( elem, {
  itemSelector: '.grid-item',
  columnWidth: 40,
  gutter: 5,
  originLeft: false,
});
</script >

</div>
{% endblock %}
