{% extends "template.html"%}
{% load staticfiles %}

{% block content %}

<div class="row small-12">
<div class="columns small-12 large-6">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<p>
  این فعلا یک سیستم شخصی است که جادی برای استفاده خودش نوشته. نه خیلی محکم است و نه برای استفاده عمومی. در نتیجه لطفا برای هک و غیره تلاش نکنین (:
</p>
<p>
ایده کلی اینه که سیستمی داشته باشیم که بشه توش فهرست کارها رو منیج کرد و اگر خواستیم به شکل عمومی به اشتراک بذاریم. با ایده یک کد سریع نیم ساعته برای عمومی کردن
کارهای در دست انجام نوروز ۹۵ نوشته شد ولی شاید بیشتر از اینها توسعه پیدا کنه.
</p>
<p>
خوش باشین و خندون و همیشه از برنامه نوشتن و مهمتر از اون، به انجام رسوندن کارها لذت ببرین. هیچ لذتی بالاتر از تیک زدن کارها نیست!
</p>

</div>


<div class="columns small-12 large-6">


  {% if message %}
  <div class="panel callout warning radius">
    <h5>{{ message }}</h5>
  </div>
  {% endif %}

  <form method="post" action="/accounts/login/">
  {% csrf_token %}
  <label>نام کاربری  </label>
  <input type=text name=username>
  <label>عبارت عبور</label>
  <input type=password name=password>
  <input type="submit" value="تلاش برای ورود" class="button expand"/>
  <input type="hidden" name="dologin" value="true" />
  <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

</div>
{% endblock %}
