@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

.grid-item {
  background: lightyellow;
  direction: rtl;
  margin: 10pt;
  padding: 20pt;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.linkdone {
  font-size: 8pt;
  text-align: left;
  text-decoration: none;

}
.content {
  direction: rtl;
  font-family: 'Droid Arabic Naskh', ubuntu, tahoma, sans-serif;

}

.taskdone {
  background: lightgray;
  color: gray;
}
