@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

.grid-item {
  background: lightyellow;
  direction: rtl;
  margin: 5pt;
  padding: 20pt;
}


.content {
  direction: rtl;
  font-family: 'Droid Arabic Naskh', ubuntu, tahoma, sans-serif;

}

.taskdone {
  background: lightgray;
  color: gray;
}
